@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-xxl-4">
    <h4 class="display-4">Record Database</h4>
    <h5>@DateTime.Now.ToString("dd/MM/yyyy HH:mm")</h5>
</div>
